
.RollDice-Grid {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.RollDice-Roll-Button {
  padding: 1rem 3rem;
  background-color: steelblue;
  font-size: 1rem;
  color: white;
  border: none;
}

.Rolling-btn {
  background-color: black;
}
